﻿<footer>
    <div class="container1">
        <div class="row">
            <div class="col-lg-2">
                <ul class="footer-link-list" style="padding-left:18px">
                    <li>
                        <a href="#" class="footer-text">About Us </a>
                    </li>
                    <li><a href="#" class="footer-text">Blog </a></li>
                    <li><a href="#" class="footer-text">Feedback </a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="footer-link-list">
                    <li>
                        <a href="#" class="footer-text">Comunnity</a>
                    </li>
                    <li><a href="#" class="footer-text">Trust & Safety </a></li>
                    <li><a href="#" class="footer-text">Help & Support </a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="footer-link-list">
                    <li>
                        <a href="#" class="footer-text">Enterprise Solutions</a>
                    </li>
                    <li><a href="#" class="footer-text">Terms of Service</a></li>
                    <li><a href="#" class="footer-text">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="footer-link-list">
                    <li>
                        <a href="#" class="footer-text">Tools</a>
                    </li>
                    <li><a href="#" class="footer-text">Client Resources</a></li>
                    <li><a href="#" class="footer-text">Help & Support</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="social-network-icon-wrap padding-right-65">
                    <a href="#" class="footer-select social-network-icons">
                        <span class="footer-circle footer-circle-linkedin pull-right">
                            <i class="fa fa-linkedin font-size-20 icon-attr1"> </i>
                        </span>
                    </a>
                    <a href="#" class="social-network-icons">
                        <span class="footer-circle footer-circle-facebook pull-right">
                            <i class="fa fa-facebook font-size-20 icon-attr1"> </i>
                        </span>
                    </a>
                    <a href="#" class="social-network-icons">
                        <span class="footer-circle footer-circle-twitter pull-right">
                            <i class="fa fa-twitter font-size-20 icon-attr1"> </i>
                        </span>
                    </a>
                    <a href="#" class="social-network-icons">
                        <span class="footer-circle footer-circle-google pull-right">
                            <i class="fa fa-google-plus font-size-20 icon-attr1"> </i>
                        </span>
                    </a>
                    <a href="#" class="social-network-icons">
                        <span class="footer-circle footer-circle-google pull-right">
                            <span class="fa fa-rss font-size-20 icon-attr1">
                                </i>
                            </span>
                    </a>
                </div>
                <span class="footer-copyrights padding-right-65" id='footer-copyrights'>
                    <span>&#169;&nbsp;Volunteer Corporation</span>
                </span>
            </div>
        </div>
    </div>
</footer>