<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    
    <add name="VolunteerApi" connectionString="Data Source=chad88cjlf.database.windows.net;Initial Catalog=epageo-volunteer-Dev;User ID=ePageoAdmin;Password=ePageo2014!;" providerName="System.Data.SqlClient" />

    <!--<add name="VolunteerApi" connectionString="Data Source=RAHUL-PC;Initial Catalog=VolunteerDB;User ID=sa;Password=pass@123;" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
</configuration>